@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'quicksand', sans-serif;
}

/* -- HEADER -- */

header {
    padding: 10px;
    height: 90px;
    justify-content: center; /*Centraliza horizontalmente*/
    align-items: center; /*Centraliza verticalmente*/
}

.logo {
    display: inline-block; 
    cursor: pointer;
}

.logo img {
    width: 90px;
    height: 70px;
    vertical-align: top;
}

h1 {
    text-align: center;
    display: inline-block; 
    vertical-align: top; 
    margin-top: 20px;
    padding-left: 475px;
}

/* -- MAIN -- */

main {
    display: flex;
    padding: 20px;
    padding-left: 180px;
}

.content {
    display: flex; /*Todos os itens ficaram lado a lado*/
    justify-content: space-around; /*Coloca espaçamento entre os itens*/
    align-items: center; /*Alinhar ao centro na parte vertical*/
    position: relative;
    height: 500px;
    width: 1000px;
}

img {
    height: 300px;
    width: 400px;
    position: relative;
    z-index: 1; /*Coloca o retangulo atrás da imagem*/
}

.textura {
    position: absolute;
    top: 73.4%;
    left: 13%;
    transform: translate(-50%, -50%);
    width: 25.7%;
    height: 500px;
    z-index: 0; /*Coloca o retangulo atrás da imagem*/
}

.retangulo {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 26%;
    height: 500px;
    background-color: #FF613A;
    z-index: 0; /*Coloca o retangulo atrás da imagem*/
}

.texto {
    background-color: #F2F2F2;
    padding: 60px;
    padding-left: 60px;
    height: 310px;
    width: 500px;
}

.btn button {
    width: 170px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border: 1px solid black;
    margin-top: 20px;
    transition: all 400ms ease-in;
}

.btn button:hover {
    border: 1px solid #FF613A;
    background-color: #FF613A;
    color: #FFf;
}

/* -- CHAT BUTTON -- */

.chat-button {
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 99;
}

.chat-btn {
    background-color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.chat-btn img {
    width: 60px;
    height: 60px;
    transition: transform 0.4s;
}

.chat-btn img:hover {
    transform: scale(1.1);
}

